

<div class="container center">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            {{ formset.management_form }}
            <div class="row">
                {% for f in formset %}
                    <div class="col s12 m4 l4">
                        {{ f.as_p }}
                    </div>
                {% endfor %}
            </div>
            <hr>
        <input type="submit" value="Create" class="btn btn-outline-success btn-post-create">
    </form>
</div>
