{% extends "sorl/home.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block style %}
  <style>
    .form{ width:30%;padding: 45px; }
  </style>
{% endblock %}
{% block content %}

  <div class="form ">
    <form method="post">
      {% csrf_token %}
        <legend class="border-bottom mb-4">Join Today</legend>
        {{ form|crispy }}
      <input type="submit" name="" value="submit">
    </form>
  </div>

    <small style="padding:45px">
      already have an account?<a href="{% url 'login' %}">Login</a>
    </small>
{% endblock %}
