<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add</title>
</head>
<body>
<script >
    $(document).ready(function(){
        $("input[type='submit']").click(function(){
            var vals =("input[name='cname']:checked").val();
            alert(vals);
        })
    })
</script>
Here are ur courses
<form method="post">
{% csrf_token %}
{% for cou in ur_courses %}
    {{ cou.course_name }}<input type="radio" name="cname" value="{{ cou.course_id }}">
    <br>
{% endfor %}
<input type="submit" value="submit">

</form>


</body>
</html>