<div class="container">
    <div class="container-fluid mt-2">
        <div class="form-group row">
            <form method="post" class="comment-form" action="">
                {% csrf_token %}
                {{ comment_form.as_p }}
                {% if request.user.is_authenticated %}

                        <input type="submit" value="Post Your Answer" class="btn waves-effect waves-orange">

                {% endif %}
            </form>
        </div>
    </div>
</div>

    <div class="container">
        Total Comments : {{ comments.count }} <br><br>
        {% for comment in comments %}
            <div >
                <p class="mb-0">{{ comment.content }}</p>
                <footer class="blockquote-footer">-by <cite title="Source Title">{{ comment.user|capfirst }}</cite>
                    <button type="button" name="button" style="margin-left:50px;"class="reply-btn btn-small waves-effect red darken-3">Reply</button>
                </footer>
                <a href="{% url 'forum:comment_delete' id=comment.id %}" class='waves-effect btn-small'>Delete</a>
            <br><hr>
            </div>

            <div class="replied-comment container mt-2" style="display:none">
                {% for reply in comment.replies.all %}
                    <blockquote class="blockquote">
                        <p class="mb-0">{{ reply.content }}</p>
                        <footer class="blockquote-footer">by <cite title="Source Title">{{ reply.user|capfirst }}</cite>
                        </footer>
                    </blockquote>
                {% endfor %}
                <div class="form-group row">
                    <form method="post" class="reply-form" action="">
                        {% csrf_token %}
                        <input type="hidden" name="comment_id" value="{{ comment.id }}">
                        {{ comment_form.as_p }}
                        {% if request.user.is_authenticated %}
                            <input type="submit" value="Post Your Reply" class="btn btn-outline-success">
                        {% endif %}
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
