<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to my app</title>
</head>
<body>
<form method="post" enctype="multipart/form-data">
    {%  csrf_token %}
    {{ form.media }}
    {{form.as_p}}
    {{ formset.management_form }}
            <div class="row">
                {% for f in formset %}
                    <div class="col s12 m4 l4">
                        {{ f.as_p }}
                    </div>
                {% endfor %}
            </div>
    <input type="submit">Submit</input>
</form>

</body>
</html>